<!--
<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
            <ul>
                <% user.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <% end %>
            <div class="field">
                <%= form.label :name %>
                    <%= form.text_field :name, id: :user_name %>
            </div>
            <div class="field">
                <%= form.label :email %>
                    <%= form.text_field :email, id: :user_email %>
            </div>
            <div class="field">
                <%= form.label :login %>
                    <%= form.text_field :login, id: :user_login %>
            </div>
            <div class="actions">
                <%= form.submit %>
            </div>
          -->
<script type="text/javascript">
Ext.onReady(function() {

    var login_form = new Ext.FormPanel({
        url: '...',
        renderTo: document.body,
        frame: true,
        title: 'User Form',
        width: 250,
        url: 'login_form.submit',
        items: [{


            xtype: 'textfield',
            fieldLabel: 'Name',
            name: 'name',
            id: 'name',
            allowBlank: false
        }, {
            xtype: 'textfield',
            fieldLabel: 'Email',
            name: 'email',
            id: 'email',
            allowBlank: false
        }, {
            xtype: 'textfield',
            fieldLabel: 'Login',
            name: 'login',
            id: 'login',

            allowBlank: false
        }, {
            xtype: 'tbbutton',
            text: 'Create user',
            listeners: {
                click: function() {
                    var a = Ext.getCmp("name").getValue();
                    var b = Ext.getCmp("email").getValue();
                    var c = Ext.getCmp("login").getValue();


                    Ext.Ajax.request({
                        url: '/users',
                        method: 'POST',
                        params: {
                            name: a,
                            email: b,
                            login: c

                        },
                        success: function() {
                            alert('success');
                        },
                        failure: function() {
                            alert('fail');
                        }

                    });

                }
            }
        }, {
            xtype: 'tbbutton',
            text: 'Back',
            cls: 'btB',
            handler: function() {
                location.href = "/users";
            }

        }],


    });


    sm: new Ext.grid.RowSelectionModel({
        singleSelect: true,
        listeners: {
            rowselect: {
                fn: function(sm, index, record) {
                    Ext.Msg.alert('You Selected', record.data.title);
                }
            }
        }
    })

});
</script>

<% end %>