<p id="notice">
    <%= notice %>
</p>
<h1>Users</h1>
<!--<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Login</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td>
                    <%= user.name %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <%= user.login %>
                </td>
                <td>
                    <%= link_to 'Show', user %>
                </td>
                <td>
                    <%= link_to 'Edit', edit_user_path(user) %>
                </td>
                <td>
                    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
            <% end %>
    </tbody>
</table>-->
<script>
Ext.onReady(function() {


    var user = new Ext.data.JsonStore({
        url: 'users.json',
        fields: [
            'id',
            'name',
            'email',
            'login'
        ]
    });

    user.load();



    var edit = new Ext.form.TextField();

    var grid = new Ext.grid.EditorGridPanel({
        renderTo: document.body,
        frame: true,
        title: 'User Database',
        height: 200,
        width: 400,
        store: user,
        columns: [
            { header: "Id", dataIndex: 'id',editor : edit},
            { header: "Name", dataIndex: 'name', editor : edit },
            { header: "Email", dataIndex: 'email',editor : edit },
            { header: "Login", dataIndex: 'login',editor : edit }

        ]
    });
});
</script>
<br>
<%= link_to 'New User', new_user_path %>